amatzia-automation/blueprints/asi-scenario-B-receive.json
{
  "name": "אסי מקבל תשובה (B) — MVP מסלול C",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": null,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Webhook: קליטת לחיצה (token + decision)"
        },
        "restore": {
          "parameters": {
            "hook": {
              "label": "asi-approval-webhook (ניר יוצר אחרי הייבוא)"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ],
        "interface": [
          { "name": "token", "type": "text" },
          { "name": "decision", "type": "text" }
        ]
      }
    },
    {
      "id": 2,
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "parameters": {},
      "mapper": {
        "base": "appKMXCuAfdJCIery",
        "table": "tbly7JDCmOnY36GoJ",
        "maxRecords": "1",
        "useColumnId": true,
        "formula": "{flddMWdAUU4Oc1SS0}=\"{{1.token}}\""
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Airtable: חיפוש לפי approval_token"
        },
        "restore": {
          "parameters": {
            "base": { "label": "טבלת סוכן AI -תוכן אורגני (appKMXCuAfdJCIery)" },
            "table": { "label": "לידים (tbly7JDCmOnY36GoJ)" }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Router: approve / reject"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "airtable:ActionUpdateRecords",
              "version": 3,
              "parameters": {},
              "filter": {
                "name": "אשר + אנטי-כפילות",
                "conditions": [
                  [
                    {
                      "a": "{{1.decision}}",
                      "b": "approve",
                      "o": "text:equal"
                    },
                    {
                      "a": "{{1.token}}",
                      "b": "{{2.approval_token}}",
                      "o": "text:equal"
                    },
                    {
                      "a": "{{2.סטטוס}}",
                      "b": "נשלח לאישור",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "base": "appKMXCuAfdJCIery",
                "table": "tbly7JDCmOnY36GoJ",
                "id": "{{2.id}}",
                "useColumnId": true,
                "record": {
                  "fldRHCXAS6G9EDZ81": "sel347le6XIKg3Clx"
                }
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": -150,
                  "name": "Airtable: סטטוס = מאושר"
                }
              }
            },
            {
              "id": 5,
              "module": "google-email:ActionSendEmail",
              "version": 1,
              "parameters": {
                "account": null
              },
              "mapper": {
                "to": ["nirodig@gmail.com"],
                "subject": "אושר ✓ — {{2.נושא}}",
                "html": "<div dir=\"rtl\" style=\"font-family:Arial,sans-serif\"><h2>אושר ✓</h2><p>הנכס <b>{{2.נושא}}</b> אושר.</p><p><b>הערה:</b> פרסום אמיתי עדיין לא מופעל ב-MVP — TODO לצעד הבא (חיבור תרחיש הפרסום 6237903).</p></div>",
                "contentType": "html",
                "attachments": []
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": -150,
                  "name": "Gmail: התראת אישור (פרסום=TODO)"
                },
                "restore": {
                  "parameters": {
                    "account": { "label": "nirodig@gmail.com (connection 7155536)" }
                  }
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "module": "airtable:ActionUpdateRecords",
              "version": 3,
              "parameters": {},
              "filter": {
                "name": "דחה + אנטי-כפילות",
                "conditions": [
                  [
                    {
                      "a": "{{1.decision}}",
                      "b": "reject",
                      "o": "text:equal"
                    },
                    {
                      "a": "{{1.token}}",
                      "b": "{{2.approval_token}}",
                      "o": "text:equal"
                    },
                    {
                      "a": "{{2.סטטוס}}",
                      "b": "נשלח לאישור",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "base": "appKMXCuAfdJCIery",
                "table": "tbly7JDCmOnY36GoJ",
                "id": "{{2.id}}",
                "useColumnId": true,
                "record": {
                  "fldRHCXAS6G9EDZ81": "selts8VBidlQP790r"
                }
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 150,
                  "name": "Airtable: סטטוס = נדחה"
                }
              }
            },
            {
              "id": 7,
              "module": "google-email:ActionSendEmail",
              "version": 1,
              "parameters": {
                "account": null
              },
              "mapper": {
                "to": ["nirodig@gmail.com"],
                "subject": "נדחה ✗ — {{2.נושא}}",
                "html": "<div dir=\"rtl\" style=\"font-family:Arial,sans-serif\"><h2>נדחה ✗</h2><p>הנכס <b>{{2.נושא}}</b> נדחה. שום דבר לא פורסם.</p></div>",
                "contentType": "html",
                "attachments": []
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 150,
                  "name": "Gmail: התראת דחייה"
                },
                "restore": {
                  "parameters": {
                    "account": { "label": "nirodig@gmail.com (connection 7155536)" }
                  }
                }
              }
            }
          ]
        }
      ]
    },
    {
      "id": 8,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "status": "200",
        "body": "<html dir=\"rtl\"><body style=\"font-family:Arial;text-align:center;padding-top:60px\"><h2>התקבל ✓</h2><p>אפשר לסגור את החלון.</p></body></html>",
        "headers": [
          { "name": "Content-Type", "value": "text/html; charset=utf-8" }
        ]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 400,
          "name": "Webhook Response: עמוד 'התקבל'"
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  }
}
